body{
  background-color: $light-gray;
}

.bg-white {
  background-color: $white;
}


.color-white {
  color: $white;
}

.border-3 {
  border-radius: $border-radius;
}

.navbar {
  @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
}
