//Colors
$primary: #101010;
$secundary: #911922;
$medium-gray: #76787B;
$light-gray: #F9F9F9;
$white: #ffffff;
$black: #101010;

//padding
$padding-30: 2em;
$padding-btn: 0.5em 0;
$padding-btnS: 0.5rem;

//Radius
$border-radius: 3px;

//size
$small : 425px;
$medium: 768px;
$large : 1440px